{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@.*",
    "^@system/(.*)$",
    "^@providers/(.*)$",
    "^@features/(.*)$",
    "^@global/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
